.App {
  font-family: sans-serif;
}
/* body {
  margin: 5%;
} */

.movie-container {
  height: min-content;
  width: 340px;
}

.image-container {
  /* border: 6px solid black;
  border-radius: 0.3rem;
  overflow: hidden;
  position: relative; */
  /* display: flex;
  align-content: center;
  justify-content: center;
  align-items: center; */
}

.movie-poster {
  height: 500px;
  object-fit: cover;
  width: 340px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}

/* .movie-poster {
  height: 312px;
  width: 208px;
  object-fit: cover;
} */

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 24px;
}

.not-found {
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.movie-detail-container {
  max-width: 900px;
}

.movie-specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.left-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.game-box{
  height: 160px;
  /* width: 160px; */
  background: white;
  color: black;
  font-size: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.game-box:hover {
  background: hsl(0deg 0% 0% / 9%);
}

.board{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
}