.App {
  font-family: sans-serif;
}
body {
  margin: 5%;
}

.movie-container{
width: 208px;
}

.image-container {
  /* border: 6px solid black;
  border-radius: 0.3rem;
  overflow: hidden;
  position: relative; */
}

.movie-list{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
grid-gap:1rem;
gap: 1rem;
justify-content: center;

}

.movie-poster {
  height: 312px;
  width: 208px;
  object-fit: cover;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 24px;
}

.not-found {
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.movie-detail-container{
  max-width: 900px;
}